#mainContainer {
    background: url("../../assets/background.jpg") no-repeat center center fixed;
    max-width: 1920;
    max-height: 1080;
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

#mainContainer h1 {
    color: darkmagenta;
    transition: 0.4s;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 100px;
}

#mainContainer h1:hover {
    color: chartreuse;
}

#mainParagraph {
    color: chartreuse;
    text-align: center;
    font-size: 22px;
}